<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
    <title>Images</title>
</head>
<body>
    <h1>Hello these are pictures</h1>

    <img src="{% static 'images/image_001.jpg' %}" alt="Couldn't find image :(">
    <br>
    <img src="{% static 'images/image_002.jpg' %}" alt="Couldn't find image :(">

</body>
</html>