h1{
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

td{
    height: 400px;
    width: 180px;
    border: 6px solid white
}

.spectrum{
    margin: auto;
}

#one{
    background-color: #423B0B
}

#two{
    background-color: #B5FED9
}

#three{
    background-color: #98CBB4
}

#four{
    background-color: #7BA098
}

#five{
    background-color: #474935
}
